<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CoPlan" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "coplan/application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="site-nav">
      <div class="site-nav__inner">
        <%= link_to "📋 CoPlan", coplan.root_path, class: "site-nav__brand" %>
        <ul class="site-nav__links">
          <% if respond_to?(:signed_in?) && signed_in? %>
            <li><%= link_to "Plans", coplan.plans_path %></li>
            <li><%= link_to "Settings", coplan.settings_tokens_path %></li>
          <% end %>
        </ul>
        <% if respond_to?(:signed_in?) && signed_in? %>
          <div class="site-nav__user">
            <span><%= current_user.name %></span>
            <%= link_to "Sign out", main_app.sign_out_path, data: { turbo_method: :delete } %>
          </div>
        <% end %>
      </div>
    </nav>
    <main class="main-content">
      <% if notice.present? %>
        <div class="flash flash--notice"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="flash flash--alert"><%= alert %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
